@charset "utf-8";

@import "bulma/sass/utilities/_all";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/components/menu.sass";
@import "bulma/sass/components/message.sass";
@import "bulma/sass/components/navbar.sass";
@import "bulma/sass/components/tabs.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/tag.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/helpers/_all.sass";

$select-background-color: $grey-lightest;
$active-background-color: hsl(40, 84%, 90%);

$sidebar-width: 200px;
$sidebar-hide-threshold: 1400px;
$sidebar-button-width: 30px;
$sidebar-button-height: 50px;

/** Page layout **/
#mh-logo-text {
    font-weight: bold;
    margin-left: 1em;
}

.lr-padded {
    margin: 0 auto;
    position: relative;
    width: 100%;

    @media(min-width: $sidebar-hide-threshold) {
        padding-left: $sidebar-width+10px;
        padding-right: $sidebar-width+10px;
    }

}

nav {
    @extend .navbar, .is-primary;

    >div {
        @extend .lr-padded;
        display: block;

        @include from($navbar-breakpoint) {
            display: flex;
            align-items: stretch;
            flex-grow: 1;
        }
    }

    .navbar-folded {
        @include from($navbar-breakpoint) {
            display: none;
        }
    }

    .navbar-expanded {
        @include until($navbar-breakpoint) {
            display: none;
        }
    }

    .nav-search-item {
        flex-grow: 1;
        flex-shrink: 1;
        width: 10rem;

        >div {
            width: 100%;
        }
    }
}

#nav-search {
    @extend .is-small
}

aside {
    height: calc(100% - 3.25rem);
    width: 0;
    top: 3.25rem;
    position: fixed;
    z-index: 100;
    padding-top: 20px;

    @media(min-width: $sidebar-hide-threshold) {
        width: Min($sidebar-width, calc(100% - #{$sidebar-button-width}));
    }

    &.is-active {
        width: Min($sidebar-width, calc(100% - #{$sidebar-button-width}));
    }

    >.aside-button {
        position: absolute;
        bottom: 5%;
        width: $sidebar-button-width;
        height: $sidebar-button-height;
        background-color: white;
        border: solid grey 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: larger;
        cursor: pointer;

        &:hover {
            background-color: #DDDDDD;
        }

        @media(min-width: $sidebar-hide-threshold) {
            display: none;
        }
    }

    >.side-menu {
        @extend .menu;
        overflow-x: hidden;
        overflow-y: auto;
        height: 100%;

        >.menu-label {
            padding-left: 0.4rem;
        }

        .mh-lang-menu {
            border-radius: $menu-item-radius;
            color: $menu-item-color;
            display: block;
            padding: $menu-list-link-padding;
            cursor: pointer;
            border: 0;
            font-size: 1rem;
            background: none;
            appearance: none;
            width: 100%;
            text-align: left;

            &:hover {
                background-color: $menu-item-hover-background-color;
                color: $menu-item-hover-color;
            }

            &.is-active {
                background-color: $menu-item-active-background-color;
                color: $menu-item-active-color;
            }
        }
    }
}

#cookie-consent {
    padding-left: 2rem;
}

#left-aside {
    left: 0;
    box-shadow: 2px 0px 3px lightgray;
    background-color: white;

    &.is-active {
        #left-aside-button:after {
            content: "<";
        }
    }

    #left-aside-button {
        left: 100%;
        border-radius: 0 5px 5px 0;
        border-left-width: 0;
        box-shadow: 2px 2px 3px lightgray;

        &:after {
            content: ">";
        }
    }
}

#right-aside {
    right: 0;
    box-shadow: -2px 0px 3px lightgray;
    background-color: white;

    &.is-active {
        #right-aside-button:after {
            content: ">";
        }
    }

    #right-aside-button {
        right: 100%;
        border-radius: 5px 0 0 5px;
        border-right-width: 0;
        box-shadow: -2px 2px 3px lightgray;

        &:after {
            content: "<";
        }
    }
}

main {
    @extend .content, .lr-padded;

    >header {
        display: flex;
        align-items: center;

        >.mh-title-icon {
            padding-left: 1rem;
            padding-right: 1rem;

            >* {
                vertical-align: middle;
            }
        }

        >h1 {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    >header.mh-monster-header {
        display: block;

        @media(min-width:700px) {
            img {
                float: right;
            }
        }
    }

    >section {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        border-bottom: solid 2px $border;
    }

}

/** common interactive helper **/
.mh-hidden {
    display: none;
}

.mh-disabled {
    text-decoration: line-through;
}

.mh-spoiler {
    color: black;
    background-color: black;
}

.mh-spoiler:hover {
    background-color: white;
}

.mh-ride-cond {
    color: red;
}

/** colored icon **/

.mh-colored-icon {
    display: inline-grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    width: 2rem;
    height: 2rem;

    >* {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }

    >*:nth-child(1) {
        z-index: 2;
        width: 2rem;
        height: 2rem;
        -webkit-mask-size: contain;
        mask-size: contain;
    }

    >*:nth-child(2) {
        background-color: black;
        z-index: 1;
        width: 2rem;
        height: 2rem;
        -webkit-mask-size: contain;
        mask-size: contain;
    }

    >*:nth-child(3) {
        z-index: 3;
        width: 2rem;
        height: 2rem;
        position: relative;

        >* {
            width: 1rem;
            height: 1rem;
            position: absolute;
            background-size: contain;
        }

        >.mh-addon-great {
            left: -0.35rem;
            top: -0.35rem;
            background-image: url('/resources/item_addon_1.png');
        }

        >.mh-addon-supply {
            left: 1.3rem;
            top: -0.2rem;
            background-image: url('/resources/item_addon_2.png');
        }

        >.mh-addon-lv1 {
            left: -0.25rem;
            top: -0.2rem;
            background-image: url('/resources/item_addon_3.png');
        }

        >.mh-addon-lv2 {
            left: -0.25rem;
            top: -0.2rem;
            background-image: url('/resources/item_addon_4.png');
        }

        >.mh-addon-lv3 {
            left: -0.25rem;
            top: -0.2rem;
            background-image: url('/resources/item_addon_5.png');
        }

        >.mh-addon-afflicted {
            left: -0.35rem;
            top: -0.35rem;
            background-image: url('/resources/afflicted.png');
        }

        >.mh-addon-hyakuryu {
            width: 1.3125rem;
            height: 1rem;
            left: 1rem;
            top: 0rem;
            background-image: url('/resources/slot_rampage.png');
        }
    }
}

.mh-icon-text {
    >* {
        vertical-align: middle;
    }

    >:nth-child(n+2) {
        margin-left: 0.25rem;
    }
}

/** Armor series list **/

ul.mh-armor-series-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    >li {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-right: 1rem;

        &:hover {
            background-color: $select-background-color;
        }

        h2 {
            margin-bottom: 0.5rem;

            >* {
                margin-right: 0.25rem;
                vertical-align: middle;
            }
        }

        ul {
            list-style: none;
            margin-left: 0;
        }
    }
}

/** Sex tag **/

.tag.mh-male {
    color: #FFFFFF;
    background-color: rgb(22, 61, 109);
}

.tag.mh-female {
    color: #FFFFFF;
    background-color: rgb(109, 22, 74);
}

/** Armor title **/
.mh-armor-header>h1>* {
    vertical-align: middle;
    margin-right: 0.25rem;
}

/** Generic grid list **/
ul.mh-item-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    >li {
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
}

/** Table horizontal scroll **/
.mh-table {
    display: block;
    overflow-x: auto;

    td {
        // Bulma's buggy last border erasing
        // Let's just add it back
        border-bottom-width: 1px !important;
    }
}

/** Filter buttons **/
.mh-filters {
    @extend .tabs;
}

/** key-value pairs */
.mh-kvlist {
    column-width: 20rem;
    column-count: 3;

    >.mh-kv>*:nth-child(1) {
        font-weight: bold;
        margin-right: 2rem;
    }
}

.mh-kvlist.mh-wide {
    column-width: 40rem;
    column-count: 3;
}

/** Armor page **/
ul.mh-armor-skill-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

/** Slot icons **/

.mh-slot-outer {
    position: relative;
    width: 1.85rem;
    height: 1.85rem;
    vertical-align: middle;
    display: inline-block;

    >.mh-slot {
        display: inline-block;
        position: absolute;
        left: 0.1rem;
        top: 0.3rem;
        width: 1.65rem;
        height: 1.25rem;
    }

    >.mh-slot-large {
        display: inline-block;
        position: absolute;
        left: 0rem;
        top: 0rem;
        width: 1.85rem;
        height: 1.85rem;
    }

    >.mh-slot-rampage {
        display: inline-block;
        position: absolute;
        left: 0.75rem;
        top: 0rem;
    }

    >.mh-slot-0 {
        display: inline-block;
        position: absolute;
        left: 0.1rem;
        top: 0.875rem;
        width: 1.65rem;
        height: 0.2rem;
        background-color: black;
    }
}

/** Sharpness bar **/
.mh-sharpness-bar {
    display: inline-block;
    white-space: nowrap;
    width: 10rem;
    height: 1rem;
    background-color: black;
    border: solid gray;
    vertical-align: middle;
    position: relative;

    >.mh-sharpness {
        position: absolute;
        display: inline-block;
        height: 100%;
        bottom: 0;
    }

    >.mh-sharpness-half {
        position: absolute;
        display: inline-block;
        height: 50%;
        bottom: 0;
    }

    .mh-sharpness-color-0 {
        background-color: red;
    }

    .mh-sharpness-color-1 {
        background-color: orange;
    }

    .mh-sharpness-color-2 {
        background-color: yellow;
    }

    .mh-sharpness-color-3 {
        background-color: green;
    }

    .mh-sharpness-color-4 {
        background-color: blue;
    }

    .mh-sharpness-color-5 {
        background-color: white;
    }

    .mh-sharpness-color-6 {
        background-color: fuchsia;
    }
}

/** Map **/
.mh-map-outer {
    border: solid;
    position: relative;
    width: 100%;
    height: calc(min(80vh, 70vw));

    >.mh-map-buttons {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
    }

    >.mh-map-container {
        position: absolute;
        top: 0;
        left: 0;
        overflow: scroll;
        width: 100%;
        height: 100%;
        cursor: grab;

        >.mh-map {
            position: relative;
            width: 100%;
            padding-top: 100%;

            * {
                user-select: none;
            }

            >.mh-map-layer {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            >.mh-map-filter-item {
                position: absolute;
                width: 2rem;
                height: 2rem;
                margin-left: -1rem;
                margin-top: -1rem;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    outline: 1px solid yellow;
                }

                &.mh-map-select {
                    outline: 1px solid green;
                }

                .mh-wire-long-jump-icon {
                    width: 2rem;
                    height: 2rem;
                }

                .mh-recon {
                    width: 2rem;
                    height: 2rem;
                }

                .mh-icon-container {
                    width: 2rem;
                    height: 2rem;
                    display: grid;
                    place-items: center;
                }

                .mh-main-camp {
                    width: 1.9375rem;
                    height: 2.0625rem;
                }

                .mh-sub-camp {
                    width: 1.9375rem;
                    height: 1.875rem;
                }
            }
        }
    }
}

/** Monster list **/

.mh-list-monster-icon {
    width: 8rem;
}

ul.mh-list-monster {
    margin: 0 auto;
    text-align: center;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

    >li {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 1rem;

        &:hover {
            background-color: $select-background-color;
        }
    }

}

/** Quest list **/
section.mh-quest-list {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

ul.mh-quest-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    >li {
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
}

img.mh-quest-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

/** Quest tag**/
.tag.mh-quest-village {
    color: #FFFFFF;
    background-color: rgb(66, 84, 121);
}

.tag.mh-quest-low {
    color: #FFFFFF;
    background-color: rgb(28, 60, 128);
}

.tag.mh-quest-high {
    color: #FFFFFF;
    background-color: rgb(22, 109, 83);
}

.tag.mh-quest-master {
    color: #FFFFFF;
    background-color: rgb(116, 87, 34);
}

.tag.mh-quest-event {
    color: #FFFFFF;
    background-color: rgb(107, 45, 109);
}

.tag.mh-quest-follower {
    color: #FFFFFF;
    background-color: rgb(90, 100, 44);
}

.mh-quest-header>h1>* {
    vertical-align: middle;
    margin-right: 0.25rem;
}

/** Crown tag **/
.mh-crown {
    display: inline-block;
}

.mh-crown-icon {
    vertical-align: middle;
}

/** Monster part color **/
div.mh-color-diagram {
    display: grid;
    grid-template: 1fr / 1fr;

    >* {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
    }
}

.mh-color-diagram-switch {
    cursor: pointer;
}

.mh-color-diagram-switch:hover {
    background-color: $select-background-color;
}

.mh-color-diagram-switch.mh-active {
    background-color: $active-background-color;
}

span.mh-part {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 $grey, inset 0 0 0 1px $grey;
    margin-right: 0.5rem;
    vertical-align: middle;
}

span.mh-part-group {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 60% 0 60% 0;
    box-shadow: 0 2px 3px 0 $grey, inset 0 0 0 1px $grey;
    margin-right: 0.5rem;
    vertical-align: middle;
}

/** Monster extract color **/
span.mh-extract {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    box-shadow: 0 2px 3px 0 $grey, inset 0 0 0 1px $grey;
    margin-right: 0.5rem;
    vertical-align: middle;
}

span.mh-extract-red {
    @extend span.mh-extract;
    background-color: red;
}

span.mh-extract-orange {
    @extend span.mh-extract;
    background-color: orange;
}

span.mh-extract-white {
    @extend span.mh-extract;
    background-color: white;
}

span.mh-extract-unknown {
    @extend span.mh-extract;
    background-color: black;
}

/** Quest monsters **/
.mh-quest-list-monster-icon {
    width: 4em;
    vertical-align: middle;
}

.mh-quest-monster>* {
    margin-right: 0.25rem;
}

ul.mh-multi-factor {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    white-space: nowrap;
}

/** Rampage **/
ul.mh-rampage-em-list {
    margin-left: 0;
    margin-top: 0;

    >li {
        display: inline-block;
    }
}

/** Move set **/
ul.mh-damages {
    margin-left: 0;
    margin-top: 0;
    list-style: none;
}

/** Weapon list **/
.mh-weapon-tree>ul>li {
    display: inline-block;
    vertical-align: top;
    border-radius: 6px;
    border-width: thin;
    border-color: gray;
    border-style: solid;
    margin: 0.5rem;
    padding: 0.5rem;

    ul {
        list-style-type: none;
        margin-top: 0;
        margin-left: 1rem;
    }
}


/** Search page **/
ul#mh-search-result {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

    >li {
        display: inline-block;
    }
}

/** Reward table **/
.mh-reward-tables {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.mh-reward-box {
    border-radius: 6px;
    box-shadow: 0 0 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    display: block;
    padding: 1rem;
}

.mh-lot-rule {
    font-weight: normal;
}

.mh-part-rule {
    border: 1px black dotted;
}

.mh-part-rule ul {
    list-style: none;
    margin-top: 0;
    margin-left: 1rem;
}

/** Message **/
.mh-msg-place-holder {
    background-color: yellow;
}

/** Item source / usage **/
.mh-item-in-out {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/** game progress **/

ul.mh-progress {
    margin-left: 0;
    margin-top: 0;
}

/** custom buildup **/
ul.mh-custom-lot {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    white-space: nowrap;
}

.tag.mh-al-c {
    color: #FFFFFF;
    background-color: rgb(19, 94, 28);
}

.tag.mh-al-b {
    color: #FFFFFF;
    background-color: rgb(19, 78, 99);
}

.tag.mh-al-a {
    color: #FFFFFF;
    background-color: rgb(22, 18, 95);
}

.tag.mh-al-s {
    color: #FFFFFF;
    background-color: rgb(89, 16, 107);
}

.tag.mh-cb-lv3 {
    color: #FFFFFF;
    background-color: rgb(30, 28, 128);
}

.tag.mh-cb-lv6 {
    color: #FFFFFF;
    background-color: rgb(21, 91, 100);
}

.tag.mh-cb-lv9 {
    color: #FFFFFF;
    background-color: rgb(19, 99, 39);
}

.tag.mh-cb-lv12 {
    color: #FFFFFF;
    background-color: rgb(87, 95, 18);
}

.tag.mh-cb-lv15 {
    color: #FFFFFF;
    background-color: rgb(107, 53, 16);
}

.tag.mh-cb-lv10 {
    color: #FFFFFF;
    background-color: rgb(0, 0, 0);
}

/** Monster anomaly stat **/
.mh-anomaly-maps {
    margin-top: 1rem;
    margin-left: 1rem;
}

.il {
    display: inline-block;
}
