span.mh-extract-red {
    background-color: red;
    color: black;
}

span.mh-extract-orange {
    background-color: orange;
    color: black;
}

span.mh-extract-white {
    background-color: white;
    color: black;
}

span.mh-extract-unknown {
    background-color: black;
    color: white;
}

.mh-hidden {
    display: none;
}

.mh-disabled {
    text-decoration: line-through;
}

.mh-spoiler {
    color: black;
    background-color:black;
}

.mh-spoiler:hover {
    background-color:white;
}

.mh-ride-cond {
    color: red;
}

.mh-list-monster-icon {
    width: 50%;
}

.mh-quest-list-monster-icon {
    width: 10%;
    float:left;
}


ul.mh-list-monster {
    margin: 0 auto;
    text-align: center;
}

li.mh-list-monster {
    display: inline-block;
    vertical-align: top;
}

ul.mh-list-quest {
    margin: 0 auto;
    text-align: center;
}

li.mh-list-quest {
    display: inline-block;
    vertical-align: top;
}

div.mh-monster-header img {
    float: right;
}

ul.mh-list-skill {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
