span.mh-extract-red {
    background-color: red;
    color: black;
}

span.mh-extract-orange {
    background-color: orange;
    color: black;
}

span.mh-extract-white {
    background-color: white;
    color: black;
}

span.mh-extract-unknown {
    background-color: black;
    color: white;
}

.mh-hidden {
    display: none;
}

.mh-disabled {
    text-decoration: line-through;
}

.mh-spoiler {
    color: black;
    background-color:black;
}

.mh-spoiler:hover {
    background-color:white;
}

.mh-ride-cond {
    color: red;
}

.mh-list-monster-icon {
    width: 50%;
}

.mh-quest-list-monster-icon {
    width: 4em;
    vertical-align: middle;
}

ul.mh-list-monster {
    margin: 0 auto;
    text-align: center;
}

li.mh-list-monster {
    display: inline-block;
    vertical-align: top;
}

ul.mh-list-quest {
    margin: 0 auto;
    text-align: left;
}

li.mh-list-quest {
    display: inline-block;
    vertical-align: top;
    margin: 1rem
}

div.mh-monster-header img {
    float: right;
}

div.mh-title-icon {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
}

ul.mh-list-skill {
    list-style: none;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

li.mh-list-skill {
    margin-top: 0.5rem;
}

ul.mh-armor-series-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

li.mh-armor-series-list {
    display: inline-block;
    vertical-align: top;
    margin-top: 1rem;
}

ul.mh-armor-skill-list {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
}

ul.mh-multi-factor {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    white-space: nowrap;
}

div.mh-logo-text {
    font-weight: bold;
    margin-left: 1em;
}

.mh-colored-icon {
    display: inline-grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    width: 2rem;
    height: 2rem;
}

.mh-colored-icon > * {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.mh-colored-icon > *:nth-child(1)  {
    z-index: 2;
    width: 2rem;
    height: 2rem;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.mh-colored-icon > *:nth-child(2) {
    background-color: black;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.mh-colored-icon > *:nth-child(3) {
    z-index: 3;
    width: 2rem;
    height: 2rem;
    position: relative;
}

.mh-colored-icon > *:nth-child(3) > * {
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-size: contain;
}

.mh-addon-great {
    left: -0.35rem;
    top: -0.35rem;
    background-image: url('/resources/item_addon_1.png');
}

.mh-addon-supply {
    left: 1.3rem;
    top: -0.2rem;
    background-image: url('/resources/item_addon_2.png');
}

.mh-addon-lv1 {
    left: -0.25rem;
    top: -0.2rem;
    background-image: url('/resources/item_addon_3.png');
}

.mh-addon-lv2 {
    left: -0.25rem;
    top: -0.2rem;
    background-image: url('/resources/item_addon_4.png');
}

.mh-addon-lv3 {
    left: -0.25rem;
    top: -0.2rem;
    background-image: url('/resources/item_addon_5.png');
}

.mh-icon-text > * {
    vertical-align: middle;
}

.mh-kv > *:nth-child(1) {
    font-weight: bold;
    margin-right: 2rem;
}

.mh-kvlist {
    column-width: 20rem;
    column-count: 3;
}

.mh-reward-tables {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.mh-part-rule {
    border: 1px black dotted;
}

.mh-part-rule ul {
    list-style: none;
    margin-top: 0;
}

.mh-sharpness-bar {
    display: inline-block;
    white-space: nowrap;
    width: 10rem;
    height: 1rem;
    background-color: black;
    border: solid gray;
    vertical-align: middle;
    position: relative;
}

.mh-sharpness {
    position: absolute;
    display: inline-block;
    height: 100%;
    bottom: 0;
}

.mh-sharpness-half {
    position: absolute;
    display: inline-block;
    height: 50%;
    bottom: 0;
}

.mh-sharpness-color-0 {
    background-color: red;
}
.mh-sharpness-color-1 {
    background-color: orange;
}
.mh-sharpness-color-2 {
    background-color: yellow;
}
.mh-sharpness-color-3 {
    background-color: green;
}
.mh-sharpness-color-4 {
    background-color: blue;
}
.mh-sharpness-color-5 {
    background-color: white;
}
.mh-sharpness-color-6 {
    background-color: blueviolet;
}

.mh-weapon-tree > ul > li {
    display: inline-block;
    vertical-align: top;
    border-radius: 6px;
    border-width: thin;
    border-color: gray;
    border-style: solid;
    margin: 0.5rem;
    padding: 0.5rem;
}

.mh-weapon-tree > ul > li li {
    list-style-type: none;
    margin-left: 1rem;
}

li.mh-armor-list {
    list-style-type: none;
}

.mh-slot {
    display: inline-block;
    width: 1.65rem;
    height: 1.25rem;
}

img.mh-quest-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
}

.mh-reward-box {
    border-radius: 6px;
    box-shadow: 0 0 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
    display: block;
    padding: 1rem;
}

.mh-msg-place-holder {
    background-color: yellow;
}

.mh-lot-rule {
    font-weight: normal;
}

ul.mh-list-item-in-out {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

li.mh-list-item-in-out {
    display: inline-block;
}

ul.mh-rampage-em-list{
    margin-left: 0;
    margin-top: 0;
}

li.mh-rampage-em-list {
    display: inline-block;
}

.mh-map {
    position: relative;
    width: 60vw;
    height: 60vw;
}

.mh-map > .mh-map-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.mh-map > .mh-map-pop {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: -0.75rem;
    margin-top: -0.75rem;
}
